html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(112, 114, 96);
   
}
.slider-wrapper {
    position: relative;
	height: 450px;
    max-width: 800px;
	margin: 20px auto 100px;
}

.slider {
    display: flex;
    padding: 0;
	height: inherit;
    width: inherit;
	overflow: hidden;
    background-color: white;
}
img {
    max-width: 800px;
}
figcaption {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    bottom: -50px;
    
}

.buttons {
    position: absolute;
    right: 50px;
}